<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
	<link rel="stylesheet" type="text/css" href="/assets/styles/general.css">
	<link rel="stylesheet" type="text/css" href="/assets/styles/home_s/home.css">
	<link rel="stylesheet" type="text/css" href="/assets/styles/home_s/service.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
	<script>
			{% include './home.js' %}
		</script>
	<title>Erato</title>
	<meta charset="utf-8">
</head>
<body>
{% include '../general/nav.html' %}
{% include '../general/subbar.html' %}
<div class="menu_services" >
	{% include '../general/menu_s.html' %}
	<script>
	document.getElementById("item_ms").setAttribute("class", "active item");
	</script>
</div>
<div class="container" >
	<div class="main_container">
		<div class="services">
			<div class="ui divided items">
				{% for service in sw.service_set.all %}
				<div class="service service_hover">
					<div class="service_panel">
						<div class="service_content">
							<div class="service_name">{{service.name}}</div>
							<div class="service_description">{{service.description}}</div>
							<div class="service_price"><b>{{service.price}}</b>$</div>
							<div class="tags">
								{% for tag in service.tags.all %}
								<div class="ui label" style="background: #d3d3d3;">{{tag.name}}</div>
								{% endfor %}
							</div>
						</div>
						<div class="service_buttons">
							<button class="ui icon button" style="background: #dedede;" onclick="delete_service_pop_up({{service.id}})">
								<i class="trash alternate icon" ></i>
							</button>
						</div>

					</div>
				</div>
				{% endfor %}
			</div>
			<div class="ui green fluid labeled icon button" onclick="window.location.replace('/s/service_add_request');">
				Add service
				<i class="add icon"></i>
			</div>
			<div class="ui buttons">
					<button class="ui button" onclick="back()">
						<i class="angle left icon"></i>
					</button>
					<button id="current_index" class="ui button">1</button>
					<button class="ui button" onclick="next()">
						<i class="angle right icon"></i>
					</button>
			</div>
		</div>
		
	</div>
</div>

{% include '../general/footer.html' %}

<div class="ui basic modal">
  <div class="ui icon header">
    <i class="delete icon"></i>
    Delete service
  </div>
  <div class="content">
    <p>Are you sure you want to delete this service?</p>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      No
    </div>
    <div class="ui green ok inverted button" onclick="delete_service()">
      <i class="checkmark icon"></i>
      Yes
	</div>
  </div>
</div>
<script type="text/javascript">
var service_id_selected = 0;

function delete_service_pop_up(id){
	service_id_selected = id
	console.log(service_id_selected)
	$('.ui.basic.modal')
	.modal('show')
	;
}

function delete_service(){
	$.ajax({url: "{{BASEURL}}/s/service_del/"+service_id_selected,
	success: function(result){
		if(result.state=="failed"){
			return;
		}
		console.log("Deleted")
	}});

}
</script>
</body>
</html>
