<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
	<link rel="stylesheet" type="text/css" href="/assets/styles/general.css">
	<link rel="stylesheet" type="text/css" href="/assets/styles/home_s/home.css">
	<link rel="stylesheet" type="text/css" href="/assets/styles/home_s/service.css">
	<title>Erato</title>
	<meta charset="utf-8">
</head>
<body>
{% include '../general/nav.html' %}
{% include '../general/subbar.html' %}
<div class="container" >
	<div class="menu_services" >
		{% include '../general/menu.html' %}
		<script>
			document.getElementById("item_ms").setAttribute("class", "active item");
		</script>
	</div>
	<div class="main_container">
		<div class="services">
			<div class="ui divided items">
				{% for service in sw.service_set.all %}
				<div class="service service_hover">
					<div class="service_panel">
						<div class="service_content">
							<div class="service_name">{{service.name}}</div>
							<div class="service_description">{{service.description}}</div>
							<div class="service_price"><b>{{service.price}}</b>$</div>
							<div class="tags">
								<div class="ui label">Blowjob</div>
								<div class="ui label">Stripteasse</div>
								<div class="ui label">Events</div>
							</div>
						</div>
						<div class="service_buttons">
							<button class="circular ui icon button" onclick="window.location.href='{{BASEURL}}/s/service_del/{{service.id}}'">
								<i class="trash alternate icon" ></i>
							</button>
							<button class="circular ui icon button" onclick="window.location.href='{{BASEURL}}/s/service_edit/{{service.id}}'">
								<i class="edit outline icon" ></i>
							</button>
							<button class="circular ui icon button" onclick="window.location.href='{{BASEURL}}/s/date_by_service/{{service.id}}'">
								<i class="envelope icon" ></i>
							</button>
						</div>

					</div>
				</div>
				{% endfor %}
			</div>
			<div class="ui teal fluid labeled icon button" onclick="window.location.replace('/s/service_add_request');">
				Add service
				<i class="add icon"></i>
			</div>
		</div>
	</div>
</div>

{% include '../general/footer.html' %}
</body>
</html>
