<div class="menu_services" style="background: #f7f7f7;">
  <div class="ui secondary vertical pointing menu" style=" padding-bottom:30px; padding-top: 20px; padding-left: 20px;">
    <a id="item_h" class="item" onclick="window.location.href='{{BASEURL}}/c/home'">
      Home
    </a>
    <a id="item_md" class="item" onclick="window.location.href='{{BASEURL}}/c/dates'">
      My dates
    </a>
    <a id="item_p" class="item" onclick="window.location.href='{{BASEURL}}/c/payments'">
      Payments
    </a>
    <a id="item_ma" class="item" onclick="window.location.href='{{BASEURL}}/c/profile'">
      My profile
    </a>
  </div>
</div>
