<div class="menu_services" style="background: #f7f7f7;">
  <div class="ui secondary vertical pointing menu" style=" padding-bottom:30px; padding-top: 20px; padding-left: 20px;">
    <a id="item_h" class="item" onclick="window.location.href='{{BASEURL}}/c/home'">
      Inicio
    </a>
    <a id="item_p" class="item" onclick="window.location.href='{{BASEURL}}/c/payments'">
      Pagos
    </a>
    <a id="item_md" class="item" onclick="window.location.href='{{BASEURL}}/c/dates'">
      Citas
    </a>
    <a id="item_ma" class="item" onclick="window.location.href='{{BASEURL}}/c/profile'">
      Perfil
    </a>
    <a id="item_mc" class="item" onclick="window.location.href='{{BASEURL}}/c/mc_panel'">
      Salud
    </a>
  </div>
</div>
