<div class="menu_services" style="background: white;">
  <div class="ui secondary vertical pointing menu" style="padding-top: 20px; padding-left: 20px;">
    <a id="item_ms" class="item" onclick="window.location.href='{{BASEURL}}/s/home'">
      Home
    </a>
    <a id="item_md" class="item" onclick="window.location.href='{{BASEURL}}/s/dates'">
      Dates
    </a>
    <a id="item_pay" class="item" onclick="window.location.href='{{BASEURL}}/s/payments'">
      Payments
      <a id="item_ma" class="item" onclick="window.location.href='{{BASEURL}}/s/profile'">
        Profile
      </a>
    </a>
  </div>

</div>
