<div class="ui secondary pointing five yellow menu">
  <a id="item_ms" class="item" onclick="window.location.href='{{BASEURL}}/s/home'">
      My Services
  </a>
  <a id="item_md" class="item" onclick="window.location.href='{{BASEURL}}/s/dates'">
      Dates
  </a>
  <a id="item_pay" class="item" onclick="window.location.href='{{BASEURL}}/s/payments'">
      Payments
  </a>
  <a id="item_ma" class="item" onclick="window.location.href='{{BASEURL}}/s/profile'">
      Profile
  </a>
  <div class="right menu">
    <div class="item">
        <div class="ui primary button">Log out</div>
    </div>
  </div>
</div>
