<div class="ui secondary vertical pointing menu"style="display: inline-block; vertical-align: top;">
    <a id="item_h" class="item" onclick="window.location.href='{{BASEURL}}/c/home'">
        Home
    </a>
    <a id="item_md" class="item" onclick="window.location.href='{{BASEURL}}/c/dates'">
        My dates
    </a>
    <a id="item_p" class="item" onclick="window.location.href='{{BASEURL}}/c/payments'">
        Payments
    </a>
    <a id="item_ma" class="item" onclick="window.location.href='{{BASEURL}}/c/profile'">
        My profile
    </a>
    <a id="item_about" class="item"menu onclick="window.location.href='{{BASEURL}}/about'">
        About
    </a>
</div>
