<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <meta charset="UTF-8">
    <title>ERATO</title>
</head>
<body>
<style type="text/css">
.main_container {
  background-image: url("https://i.ibb.co/j8B5NgS/Error404.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
</style>
<div class="main_container" style="height: 100%;">
</div>
{% include '../general/footer.html' %}
</body>
</html>
