<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
	<link rel="stylesheet" type="text/css" href="/assets/styles/general.css">
  <link rel="stylesheet" type="text/css" href="/assets/styles/login/login.css">
	<title>Erato</title>
	<meta charset="utf-8">
</head>
<body>
{% include '../general/nav.html' %}

<div class="container">
    <div class="ui middle aligned center aligned grid panel">
    <div class="column">
    <form class="ui large form" method="post" action="/sessions_managing_login/">
    <div class="ui stacked segment">
    <div class="field">
    <div class="ui left icon input">
    <i class="user icon"></i>
    {% csrf_token %}
    {{ form.username }}
    </div>
    </div>
    <div class="field">
    <div class="ui left icon input">
    <i class="lock icon"></i>
    {% csrf_token %}
    {{ form.password }}
    </div>
    </div>
    <button class="ui fluid large teal submit button" type="submit">Login</button>
    </div>

    </form>

    <div class="ui message">
    New to us? <a href="/signup/s">Sign Up</a>
    </div>
    </div>
    </div>

</div>

{% include '../general/footer.html' %}

</body>
</html>
