<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
	<link rel="stylesheet" type="text/css" href="/assets/styles/general.css">
  <link rel="stylesheet" type="text/css" href="/assets/styles/login/login.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
	<title>Erato</title>
	<meta charset="utf-8">
</head>
<body>
<script>
	function getCookie(name) {
	    var cookieValue = null;
	    if (document.cookie && document.cookie !== '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
	            var cookie = cookies[i].trim();
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) === (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
	}

	function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}

	function login_managing(){
		console.log("Managing login");
		var csrftoken = getCookie('csrftoken');

		$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
		});

		var username = document.getElementById("id_username").value;
		var password = document.getElementById("id_password").value;
		// alert(username)

    $.ajax({
      url: '{{BASEURL}}/ajax/user_exists',
			type: "POST",
      data: {
        'username': username,
				'password': password
      },
      dataType: 'json',
      success: function (data) {
        if (data.exists) {
					if(data.is_normal){
						document.getElementById("myForm").submit();
					}
					else{
						document.getElementById("error_messages").style.display = 'block';
					}
        }
				else{
					document.getElementById("error_messages").style.display = 'block';
				}
      }
    });
	}
</script>
{% include '../general/nav.html' %}
<div class="container">
    <div class="main_container">
    <div class="ui middle aligned center aligned grid panel" >
            <div class="centered_login">
                <form id="myForm" class="ui large form" method="post">
									{% csrf_token %}
                    <div class="ui segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                {{ form.username }}
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                {{ form.password }}
                            </div>
                        </div>
                    </div>
										<div class="b_spaced">
											<div id="error_messages" class="ui error message">
												<div class="header">
													Error al autenticar.
												</div>
												<p>
													El usuario o la contraseña no pertenecen a una cuenta válida.
												</p>
											</div>
										</div>
                </form>
								<div class="ui fluid large teal button" onclick="login_managing()">Log in</div>
                <div class="ui message">
                    New to us? <a href="{{BASEURL}}/s/signupform/">Sign Up</a>
                </div>
            </div>
        </div>
    </div>

</div>

{% include '../general/footer.html' %}
</body>
</html>
