<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/general.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/forms/service_add.css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <title>Erato</title>
    <meta charset="utf-8">
</head>
<body>
{% include '../general/nav.html' %}
<div class="container">
<div class="main_container">
  <div class="ui middle aligned center aligned grid">
    <div class="panel">
      <form class="" method="post" action="{{BASEURL}}/s/service_add_request/service_adding_service/">
        {% csrf_token %}
        <div class="ui input fluid">
          {{form.name}}
        </div>
        <div class="ui input fluid">
          {{form.description}}
        </div>
        <div class="ui labeled input fluid">
          <label for="amount" class="ui label">$</label>
          {{form.price}}
        </div>
        {{form.tags}}
        <button class="ui button fluid green" type="submit" name="button">Add service</button>
      </form>
    </div>
  </div>
</div>

</div>

{% include '../general/footer.html' %}
<script type="text/javascript">
  $('.dropdown').dropdown({
    ignoreDiacritics: true,
    sortSelect: true,
    fullTextSearch:'exact'
  });

  function add_service(){
// Ajax consult
  }
</script>
</body>
</html>
