<html>
<head>
	<link rel="stylesheet" type="text/css" href="/assets/styles/general.css">
	<link rel="stylesheet" type="text/css" href="/assets/styles/home_c/home.css">
	<link rel="stylesheet" type="text/css" href="/assets/styles/home_c/service.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">

	<script src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="https://unpkg.com/fomantic-ui@2.7.8/dist/semantic.min.css">
	<script src="https://unpkg.com/fomantic-ui@2.7.8/dist/semantic.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        {% include './home.js' %}
    </script>
	<title>Erato</title>
	<meta charset="utf-8">
</head>
<body onload="get_service_list(0)">
{% include '../general/nav.html' %}
{% include '../general/subbar.html' %}

<div class="menu_services">
	{% include '../general/menu_c.html' %}
	<script>
	document.getElementById("item_h").setAttribute("class", "active item");
	</script>
</div>
<div class="container">
	<div class="main_container">
		<div class="services">
			<div id="service_container" >
				<!--services-->
			</div>
		</div>

		<div class="services_filter">

			Filtro por :
			Precio
			Tags

			<form action="">
				<div class="ui input">
					<input id="filter_search" type="text" placeholder="Search...">
				</div>
				<div class="ui input">
					<input id="filter_user" type="text" placeholder="User...">
				</div>
			</form>
			<button class="ui active button" onclick="filter()">
				<i class="filter icon"></i>
				Filter
			</button>
		</div>
		<div class="ui buttons">
				<button class="ui button" onclick="back()">
					<i class="angle left icon"></i>
				</button>
				<button id="current_index" class="ui button">1</button>
				<button class="ui button" onclick="next()">
					<i class="angle right icon"></i>
				</button>
		</div>
	</div>

</div>
{% include '../general/footer.html' %}


</body>
</html>
