<html>
<head>
	<link rel="stylesheet" type="text/css" href="/assets/styles/general.css">
	<link rel="stylesheet" type="text/css" href="/assets/styles/home_c/home.css">
	<link rel="stylesheet" type="text/css" href="/assets/styles/home_c/service.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">

	<script src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="https://unpkg.com/fomantic-ui@2.7.8/dist/semantic.min.css">
	<script src="https://unpkg.com/fomantic-ui@2.7.8/dist/semantic.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<title>Erato</title>
	<meta charset="utf-8">
</head>
<body onload="get_service_list(0)">
	<script>
	{% include './home.js' %}
</script>
{% include '../general/nav.html' %}
{% include '../general/subbar.html' %}

<div class="menu_services">
	{% include '../general/menu_c.html' %}
	<script>
	document.getElementById("item_h").setAttribute("class", "active item");
	</script>
</div>
<div class="container">
	<div class="main_container">
		<div class="services">
			<div id="service_container" >
				<!--services-->
			</div>
			<div class="ui buttons">
		<button class="ui left attached button grey" style="width: 45%;" onclick="back()" > back </button>
		<button id="current_index" class="ui center attached button grey" style="width: 45%;" onclick="" > 1 </button>
        <button class="right attached ui button grey" style="width: 45%;" onclick="next()" > next </button>
        </div>
		</div>

		<div class="services_filter">

			Filtro por :

			<form action="">
				<div class="ui input">
					{{form.search}}
				</div>
				<div class="ui input">
					{{form.user}}
				</div>
				<div class="ui toggle checkbox">
					<input id="use_weight" type="checkbox" name="public">
					<label>filter by weight</label>
				</div>
				<div id="weight_field" class="rangeslider"> 
					<p>min: <span id="weight_value_min"></span> Kg</p>
					<input type="range" min="0" max="100" value="60"
					class="myslider" id="filter_weight_min"> 

					<p>max: <span id="weight_value_max"></span> Kg</p>
					<input type="range" min="0" max="100" value="60"
					class="myslider" id="filter_weight_max"> 
				</div>
				

				<div class="ui toggle checkbox">
					<input id="use_height" type="checkbox" name="public">
					<label>filter by height</label>
				</div>
				<div id="height_field" class="rangeslider"> 
					<p>min: <span id="height_value_min"></span> cm</p>
					<input type="range" min="0" max="2.50" value="1.6" step="0.1"
					class="myslider" id="filter_height_min"> 

					<p>max: <span id="height_value_max"></span> cm</p>
					<input type="range" min="0" max="2.50" value="1.6" step="0.1"
					class="myslider" id="filter_height_max"> 
				</div>

				<div class="ui toggle checkbox">
					<input id="use_price" type="checkbox" name="public">
					<label>filter by price</label>
				</div>
				<div id="price_field" class="rangeslider"> 
					<p>min: <span id="price_value_min"></span> $</p>
					<input type="range" min="0" max="1000000" value="20000"
					class="myslider" id="filter_price_min"> 

					<p>max: <span id="price_value_max"></span> $</p>
					<input type="range" min="0" max="1000000" value="20000"
					class="myslider" id="filter_price_max"> 
				</div>
				
			</form>
			<br>
			<button class="ui active button" onclick="filter()">
				<i class="filter icon"></i>
				Filter
			</button>
		</div>
	</div>

</div>
{% include '../general/footer.html' %}
<script>
	//weight elements
	var weight_field=document.getElementById("weight_field");
		//min
	var filter_weight_min = document.getElementById("filter_weight_min"); 
	var weight_value_min = document.getElementById("weight_value_min");
		//max
	var filter_weight_max = document.getElementById("filter_weight_max"); 
	var weight_value_max = document.getElementById("weight_value_max");
		//use
	var use_weight=document.getElementById("use_weight");

	//height elements
	var height_field=document.getElementById("height_field");
		//min
	var filter_height_min = document.getElementById("filter_height_min"); 
	var height_value_min = document.getElementById("height_value_min");
		//max
	var filter_height_max = document.getElementById("filter_height_max"); 
	var height_value_max = document.getElementById("height_value_max");
		//use
	var use_height=document.getElementById("use_height");

	//price elements
	var price_field=document.getElementById("price_field");
		//min
	var filter_price_min = document.getElementById("filter_price_min"); 
	var price_value_min = document.getElementById("price_value_min");
		//max
	var filter_price_max = document.getElementById("filter_price_max"); 
	var price_value_max = document.getElementById("price_value_max");
		//use
	var use_price=document.getElementById("use_price");

	//weight state init
	weight_value_min.innerHTML = filter_weight_min.value;
	weight_value_max.innerHTML = filter_weight_max.value; 
	weight_field.style.display = "none";
	//height state init
	height_value_min.innerHTML = filter_height_min.value;
	height_value_max.innerHTML = filter_height_max.value; 
	height_field.style.display = "none";
	//price state init
	price_value_min.innerHTML = filter_price_min.value;
	price_value_max.innerHTML = filter_price_max.value; 
	price_field.style.display = "none";
	
	//weight functions
	//slider hides and shows field
	use_weight.onchange=function(){
		if(use_weight.checked){
			weight_field.style.display = "block";
		}else{
			weight_field.style.display = "none";
		}
	}
	//set label value min
	filter_weight_min.oninput = function() { 
	  weight_value_min.innerHTML = this.value; 
	}
	//set label value max
	filter_weight_max.oninput = function() { 
	  weight_value_max.innerHTML = this.value; 
	}


	//height functions
	//slider hides and shows field
	use_height.onchange=function(){
		if(use_height.checked){
			height_field.style.display = "block";
		}else{
			height_field.style.display = "none";
		}
	}
	//set label value min
	filter_height_min.oninput = function() { 
	  height_value_min.innerHTML = this.value; 
	}
	//set label value max
	filter_height_max.oninput = function() { 
	  height_value_max.innerHTML = this.value; 
	}
	
	//price functions
	//slider hides and shows field
	use_price.onchange=function(){
		if(use_price.checked){
			price_field.style.display = "block";
		}else{
			price_field.style.display = "none";
		}
	}
	//set label value min
	filter_price_min.oninput = function() { 
	  price_value_min.innerHTML = this.value; 
	}
	//set label value max
	filter_price_max.oninput = function() { 
	  price_value_max.innerHTML = this.value; 
	}
</script> 

</body>
</html>
