<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
	<link rel="stylesheet" type="text/css" href="/assets/styles/general.css">
	<link rel="stylesheet" type="text/css" href="/assets/styles/home_c/home.css">
	<link rel="stylesheet" type="text/css" href="/assets/styles/home_c/service.css">
	<link rel="stylesheet" type="text/css" href="/assets/styles/home_c/service_filter.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
	<title>Erato</title>
	<meta charset="utf-8">
</head>
{% include '../general/nav.html' %}
{% include '../general/subbar.html' %}
<div class="container">
	{% include '../general/menu_c.html' %}
	<script>
		document.getElementById("item_h").setAttribute("class", "active item");
	</script>
	<div class="services">
		<div id="service_container"></div>

<div class="ui buttons">
    <button class="ui left attached button grey" style="width: 45%;" onclick="back()" >
      <i class="arrow left icon"></i>
    </button>
		<button id="current_index" class="ui center attached button grey" style="width: 45%;" onclick="" > 1 </button>
    <button class="right attached ui button grey" style="width: 45%;" onclick="next()" >
      <i class="arrow right icon"></i>
    </button>
</div>
</div>
<div class="service_filter">
	<form>
<div class="ui selection dropdown">
    <input type="hidden" name="gender">
    <i class="dropdown icon"></i>
    <div class="default text">Select Gender</div>
    <div class="menu">
        <div class="item" data-value="0">Male</div>
        <div class="item" data-value="1">Female</div>
        <div class="item" data-value="2">Other</div>
    </div>
</div>
	<button class="ui button" type="submit"> Filter </button>
	</form>
</div>

<script type="text/javascript">
	$(function() {
    $('.ui.dropdown').dropdown();
	});
</script>
<div class="requests">
</div>
</div>

{% include '../general/footer.html' %}


<script type="text/javascript">
function view_service(id){
	console.log(id);
	$('.overlay.fullscreen.modal')
	.modal('show')
	;
}

$( document ).ready(function() {
		get_service_list(0);
});
</script>
<script>
{% include './home.js' %}
</script>
</body>
</html>
