<div class="ui grid">
        {% for service in services %}
          <div class="five wide column"
          onclick="window.location.href='{{BASEURL}}/s/service/{{service.id}}'"
          style="z-index: 0;">
            <div class="ui card service_images service_hover">
              <div class="ui slide masked reveal image">
                <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.thisiscolossal.com%2F2019%2F06%2Ftsubaki-goldfish%2F&psig=AOvVaw31E0seaHFh3agPze-D4Yog&ust=1572837202497000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLC1loGJzeUCFQAAAAAdAAAAABAI" class="visible content">
                <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.123rf.com%2Fphoto_99096066_betta-fish-siamese-fighting-fish-betta-splendens-isolated-on-black-background.html&psig=AOvVaw31E0seaHFh3agPze-D4Yog&ust=1572837202497000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLC1loGJzeUCFQAAAAAdAAAAABAT" class="hidden content">
              </div>
              <div class="content">
                {{service.name}}
                <div class="meta">
                  <div class="tb_margin">
                    <span class="date">{{ service.description }}</span>
                  </div>
                </div>
              </div>
              <div class="extra content">
                ${{service.price}}
              </div>
              </div>

          </div>
{% endfor %}
</div>
