.container{
	width: 100%;
}

.profile{
	margin: 10px;
	padding: 50px;
	display: inline-block;
	max-width: 30%;
	background-color: white;
	border-radius: 10px;
	vertical-align: top;
}

.profile_description{
	margin-top: 30px;
}

.services {
	margin: 10px;
	display: inline-block;
	vertical-align: top;
	width: 75%;
}

.agenda {
	vertical-align: top;
	width: 20%;
}

footer {
	align-content: center;
	text-align: center;
}