
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
	<link rel="stylesheet" type="text/css" href="/assets/styles/general.css">
  <link rel="stylesheet" type="text/css" href="/assets/styles/login/login.css">
	<title>Erato</title>
	<meta charset="utf-8">
</head>
<body>
<div class="bar">
	<img src="/assets/images/logo/ERATO.png">
</div>
<div class="container">
	     <div class="container">
		    <form class="ui form" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="reset_password">
            <a href="#" style="display: block; margin-bottom: 20px">I've forgotten my password.</a>
          </div>
        <div class="button_lr">
		  	 <button class="ui button green" type="submit" style="display: block; margin: 0 auto">Sign Up</button>
        </div>
        </form>
			  </div>

</div>

<footer>

  <div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        <div class="eight wide column">
          <h4 class="ui inverted header">3S</h4>
          <p>3S es el grupo de desarrollo de software, creador y diseñador de Erato.</p>
        </div>

        <div class="eight wide column">
          <h4 class="ui inverted header">Erato</h4>
          <p>Página de contenido adulto +18 años. Todos los miembros han declarado tener mínimo 18 años.</p>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
        <div class="social_networks">
      <button class="ui facebook button">
      <i class="facebook icon"></i>
      Facebook
      </button>
      <button class="ui twitter button">
      <i class="twitter icon"></i>
      Twitter
      </button>
      <button class="ui linkedin button">
      <i class="linkedin icon"></i>
      LinkedIn
      </button>
      <button class="ui instagram button">
      <i class="instagram icon"></i>
      Instagram
      </button>
      <button class="ui youtube button">
      <i class="youtube icon"></i>
      YouTube
      </button>
        </div>

      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="#">Site Map</a>
        <a class="item" href="#">Contact Us</a>
        <a class="item" href="#">Terms and Conditions</a>
        <a class="item" href="#">Privacy Policy</a>
      </div>
    </div>
  </div>

</footer>

</body>
</html>
