
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
	<link rel="stylesheet" type="text/css" href="/assets/styles/general.css">
  <link rel="stylesheet" type="text/css" href="/assets/styles/login/login.css">
	<title>Erato</title>
	<meta charset="utf-8">
</head>
<body>
{% include '../general/nav.html' %}
<div class="container">
  <form class="ui form" method="post" action="{{BASEURL}}/c/signup/">
  {% csrf_token %}
  {{ form.as_p }}
  <div class="reset_password">
  <a href="#" style="display: block; margin-bottom: 20px">I've forgotten my password.</a>
  </div>
  <div class="button_lr">
  <button class="ui button green" type="submit" style="display: block; margin: 0 auto">Sign Up</button>
  </div>
  </form>
</div>

{% include '../general/footer.html' %}

</body>
</html>
