<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/general.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/dates/dates.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.8/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.8/semantic.min.js"></script>

    <meta charset="UTF-8">
    <title>ERATO</title>

    <script src="/assets/scripts/dates/date_state.js"></script>
    <script src="/assets/scripts/dates/pagination.js"></script>
    <script src="/assets/scripts/dates/dates.js"></script>

</head>
<body onload="get_date_list(0)">
{% include '../general/nav.html' %}
{% include '../general/subbar.html' %}
{% include '../general/menu_c.html' %}
<script>
document.getElementById("item_md").setAttribute("class", "active item");
</script>
<div class="container">
    <div class="main_container">


  {% if not current_dates%}
  <div class="margined topbottomgiant">

  <div class="ui message">
    <div class="header">
      No estás actualmente en una cita
    </div>
    <p>Cuando la cita haya empezado, aparecerá aquí.</p>
  </div>
</div>
  {% endif %}
      <!-- Current date -->
        {% for date in current_date %}
        <div class="card" style="width: 100%">
        <div class="content">
        <div class="header">Estás actualmente en una cita con {{date.service.sw.user.username}}</div>
        <div class="description">
        Inicio: {{date.start_time}}
        <br>
        Final: {{date.end_time}}
        <br>
        Precio: {{date.price}}
        </div>
        </div>
        </div>
        {% endfor %}


      <div class="ui attached tabular menu">
        <a class="item" data-tab="payed_dates">Próximas citas</a>
        <a class="item" data-tab="accepted_dates">Aceptadas</a>
        <a class="item" data-tab="requested_dates">Solicitudes</a>
        <a class="item" data-tab="more_dates">Historial</a>
      </div>

        <div class="ui bottom attached tab" data-tab="payed_dates">
          <div class="margined topbottomsmall">
            {% for date in payed_dates %}
            <div class="ui card" style="width: 100%">
              <div class="content">
                <div class="header">Tu cita con {{date.service.sw.user.username}}</div>
                <div class="description">
                  Inicio: {{date.start_time}}
                  <br>
                  Fin: {{date.end_time}}
                  <br>
                  Precio: {{date.price}}
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
        <!-- Accepted dates -->
        <div class="ui bottom attached tab" data-tab="accepted_dates">
          <div class="margined topbottomsmall">
            {% for date in accepted_dates %}
            <div class="ui card" style="width: 100%">
              <div class="content">
                <div class="header">Tu cita con {{date.service.sw.user.username}}</div>
                <div class="description">
                  Inicio: {{date.start_time}}
                  <br>
                  Fin: {{date.end_time}}
                  <br>
                  Precio: {{date.price}}
                </div>
              </div>
              <div class="ui bottom attached button" onclick="window.location.replace('{{BASEURL}}/pay_date/{{date.id}}')">
                <i class="credit card icon"></i>
                Pagar
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
        <!-- Requested dates -->
        <div class="ui bottom attached tab" data-tab="requested_dates">
          <div class="margined topbottomsmall">
            {% for date in requested_dates %}
            <div class="ui card" style="width: 100%">
              <div class="content">
                <div class="header">Tu cita con {{date.service.sw.user.username}}</div>
                <div class="description">
                  Inicio: {{date.start_time}}
                  <br>
                  Fin: {{date.end_time}}
                  <br>
                  Precio: {{date.price}}
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
        <div class="ui bottom attached tab" data-tab="more_dates">
          <div class="margined topbottomsmall">
            {% for date in more_dates %}
            <div class="card" style="width: 100%">
              <div class="content">
                <div class="header">Tu cita con {{date.service.sw.user.username}}</div>
                <div class="description">
                  Inicio: {{date.start_time}}
                  <br>
                  Fin: {{date.end_time}}
                  <br>
                  Precio: {{date.price}}
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
</div>
{% include '../general/footer.html' %}

</body>
</html>
