<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/general.css">
    <meta charset="UTF-8">
    <title>ERATO</title>
</head>
<body>
{% include '../general/nav.html' %}
{% include '../general/subbar.html' %}
<div class="container">
    {% include '../general/menu_c.html' %}
    <script>
        document.getElementById("item_md").setAttribute("class", "active item");
    </script>
    <div class="main_container">
        <h4 class="ui horizontal divider header">
        <i class="thumbs up outline icon"></i>
        Accepted
        </h4>
        <div class="ui cards"> 
            {% for date in accepted_dates %}
              <div class="card" style="width: 100%">
                <div class="content">
                  <div class="header">Your date with {{date.service.id}}</div>
                  <div class="description">
                    {{date.start_time}}
                    {{date.end_time}}
                  </div>
                </div>
                <div class="ui bottom attached button">
                  <i class="credit card icon"></i>
                  Pay
                </div>
              </div>
            {% endfor %}
        </div>
        <h4 class="ui horizontal divider header">
        <i class="hourglass outline icon"></i>
        Requested
        </h4>
        <div class="ui cards"> 
            {% for date in requested_dates %}
              <div class="card" style="width: 100%">
                <div class="content">
                  <div class="header">Your date with {{date.service.id}}</div>
                  <div class="description">
                    {{date.start_time}}
                    {{date.end_time}}
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
        <h4 class="ui horizontal divider header">
        <i class="clock outline icon"></i>
        History
        </h4>
        <div class="ui cards"> 
            {% for date in history_dates %}
              <div class="card" style="width: 100%">
                <div class="content">
                  <div class="header">Your date with {{date.service.id}}</div>
                  <div class="description">
                    {{date.start_time}}
                    {{date.end_time}}
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include '../general/footer.html' %}
</body>
</html>