<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/general.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/profiles/profile_c.css">

    <script src="/assets/scripts/client/edit_profile.js" charset="utf-8"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.8/semantic.min.js"></script>

    <script src="/assets/scripts/upload_files.js"></script>
    <meta charset="UTF-8">
    <title>ERATO</title>
</head>
<body>
{% include '../general/nav.html' %}
{% include '../general/subbar.html' %}
{% include '../general/menu_c.html' %}
<script>
document.getElementById("item_ma").setAttribute("class", "active item");
</script>
<div class="container">
    <div class="main_container">

      <!-- form -->
            <div class="ui center aligned header">
              <object class="ui medium circular image" data="{{BASEURL}}/assets/images/utils/vector_profile.jpg">
                <img alt="profile" class="ui medium circular image" src="{{BASEURL}}/assets/images/pro_pics/{{client.picture_path}}">
              </object>
              <div class="margined small">
                <form class="" action="{{BASEURL}}/c/upload_cpp" method="post" enctype="multipart/form-data">
      	             {% csrf_token %}
                     <div class="margined small showable">
                       <div class="ui button grey">
                         <label for="id_file">
                           Adjuntar</label>
                           {{ form_ul.file }}
                         </div>
                     </div>
                    <div class="margined small showable">
                      <button class="ui button green" type="submit" name="button">Guardar</button>
                    </div>
                </form>
              </div>
              <h2>
              <div class="sw_p_panel">
                {{client.user.username}}
              </div>
            </h2>
            </div>

    <form class="" action="{{BASEURL}}/c/edit_profile/" method="post">
    {% csrf_token %}

      <div class="ui center aligned icon header">
        <div class="b_spaced" style="margin-bottom: 40px; font-weight: normal;">
          <div class="hidable">
              {{client.about}}
          </div>
					<div class="showable">
						<div class="ui fluid input">
							{{form.about}}
						</div>
					</div>
        </div>
      </div>


      <div class="profile">
  <div class="margined huge">
    <div class="more_info">
      <div class="ui grid">

  <div class="eight wide column">
    <i class="user outline icon"></i>
      Nombre
  </div>
  <div class="eight wide column">
    {{client.full_name}}
  </div>

  <div class="eight wide column">
    <i class="birthday cake icon"></i>
      Fecha de nacimiento
  </div>
  <div class="eight wide column">
    {{client.birth_date}}
  </div>

  <div class="eight wide column">
      <i class="at icon"></i>
        Email
    </div>
    <div class="eight wide column">
      <div class="item hidable">
        {{client.email}}
      </div>
      <div class="showable">
        <div class="ui fluid input">
          {{form.email}}
        </div>
      </div>
    </div>

      </div>
    </div>

  </div>
</div>

    <div class="margined huge">
      <div class="profile_buttons">
        <div class="profile button">
          <div id="button_edit" class="ui inverted fluid orange button" onclick="show_inputs()">
            Edit profile
          </div>
        </div>
        <div class="profile button">
          <button type="submit"
          id="button_save" style="display: none" class="ui inverted fluid green button"
          name="button">
          Save
        </button>
      </div>
      <div class="profile button">
        <div id="button_delete" class="ui inverted fluid red button">
          Delete account
        </div>
      </div>
    </div>

    </div>
    </form>

    </div>
</div>
{% include '../general/footer.html' %}
<script type="text/javascript">
$(document).ready(function () {
  hide_hidable();
});

document.getElementById("id_about").value = '{{client.about}}';
document.getElementById("id_email").value = '{{client.email}}';

</script>
</body>
</html>
