*{
	font-family: helvetica;
	margin: auto;
	padding: 0px;
}

body {
  margin: 0px;
	background: #151515;
    /*background:url("/assets/images/background/blur_3.jpg");*/
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100% 100%;
}

.bar{
	margin: 0px;
	padding: 20px;
	background-repeat: no-repeat;
	background: black;
	width: 100%;
	height: 110px;
	position: fixed;
	z-index: 3;
}

.subbar{
	margin: 0px;
	background: goldenrod;
	width: 100%;
	height: 40px;
	position: fixed;
	margin-top: 110px;
	z-index: 3;
}

.container{
	padding: 0px;
	width: 100%;
	z-index: -1;
	padding-bottom: 100px;
}

.container * {
	color: #f6f6f6;
}

.main_container{
	margin-top: 150px;
	margin-left: 270px;
	padding: 10px;
	display: inline-block;
	width: 60%;
}

.menu_services{
	margin-top: 75px;
	display: inline-block;
	width: 220px;
	height: 100%;
	position: fixed;
}

footer{
	width: 100%;
	background-color: #121212;
	align-content: center;
	text-align: center;
}

.b_spaced{
	margin-bottom: 10px;
}

.full_margin{
	margin: 20px;
}

.tb_margin{
	margin: 5px;
}
