*{
	font-family: Helvetica;
	margin: auto;
}

body {
  margin: 0px;
	background: white;
    /*background:url("/assets/images/background/blur_3.jpg");*/
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100% 100%;
}

.bar{
	padding: 20px;
	background-repeat: no-repeat;
	background: black;
	width: 100%;
	height: 110px;
}

.subbar{
	background: goldenrod;
	padding: 10px;
	width: 100%;
	height: 40px;
}

.container{
	padding: 50px;
	width: 100%;
}

.main_container{
	padding: 10px;
	display: inline-block;
	width: 73%;
}

.menu_services{
	display: inline-block;
	width: 20%;
	min-width: 300px;
}

footer{
	width: 100%;
	background-color: #222;
	align-content: center;
	text-align: center;
}

.b_spaced{
	margin-bottom: 10px;
}

.full_margin{
	margin: 20px;
}

.tb_margin{
	margin: 5px;
}
