* {
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, .3);
}

html {
  font-size: 16px;
}

/* Position the image container (needed to position the left and right arrows) */
.main_container_gallery {
  /* position: relative; */
  width: 100%;
  margin: 60px;
  /* box-shadow: 0 0 15px black; */
}

/* Hide the images by default */
.mySlides {
  display: none;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}
/* Add this class to show the image*/
.show {
  display: block;
  animation: fadeIn .2s linear;
}

.mySlides img {
  width: 100%;
  padding: 0;
  margin-bottom: -6px
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

@keyframes fadeOut {
  from { opacity: 1 }
  to { opacity: 0 }
}

/* Number text (1/3 etc) */
.numbertext {
  animation: fadeOut 3s linear;
  opacity: 0;
  font-family: 'Mansalva', cursive;
  color: #f2f2f2;
  font-size: 1rem;
  padding: 8px 12px;
  position: absolute;
  top: 0;

}

/* Container for image text */
.caption-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 2px 0 0 0;
  color: white;
}

#caption {
  font-family: 'Muli', sans-serif;
  font-size: 1.2rem;
  margin: 0;
}

/* Next & previous arrow icons */
.prev,
.next {
  cursor: pointer;
  width: auto;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  transition: .3s all;
}

.next {
  border-radius: 10px 0 0 10px;
}
.prev {
  border-radius: 0 10px 10px 0;
}

/* On hover, add a black background color */
.prev:hover,
.next:hover {
}

/* Thumnbail images */
.row {
  display: flex;
  background-color: white;
}

.thumbnail {
  width: 17%;
}

.thumbnail img {
  width: 100%;
  margin: 0;
}

/* Add a opaque effect for thumnbail images */
.demo {
  opacity: 0.6;
  transition: .5s;
}

.demo:hover {
  opacity: 1;
}

.active {
  opacity: 1;
  transform: scale(.8);
  transition: .3s;
}
