*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.title{
  margin-top: 50px;
  h1{
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: Arial;
    text-transform: uppercase;
    color: #d63031;

    span{
      display: block;
      color:       	<div class="feature">
      		<figure class="featured-item image-holder r-3-2 transition"></figure>
      	</div>

      	<div class="gallery-wrapper">
      		<div class="gallery">
      				<div class="item-wrapper">
      					<figure class="gallery-item image-holder r-3-2 active transition"></figure>
      				</div>
      				<div class="item-wrapper">
      					<figure class="gallery-item image-holder r-3-2 transition"></figure>
      				</div>
      				<div class="item-wrapper">
      					<figure class="gallery-item image-holder r-3-2 transition"></figure>
      				</div>
      				<div class="item-wrapper">
      					<figure class="gallery-item image-holder r-3-2 transition"></figure>
      				</div>
      				<div class="item-wrapper">
      					<figure class="gallery-item image-holder r-3-2"></figure>
      				</div>
      				<div class="item-wrapper">
      					<figure class="gallery-item image-holder r-3-2 transition"></figure>
      				</div>
      				<div class="item-wrapper">
      					<figure class="gallery-item image-holder r-3-2 transition"></figure>
      				</div>
      				<div class="item-wrapper">
      					<figure class="gallery-item image-holder r-3-2 transition"></figure>
      				</div>
      				<div class="item-wrapper">
      					<figure class="gallery-item image-holder r-3-2 transition"></figure>
      				</div>
      				<div class="item-wrapper">
      					<figure class="gallery-item image-holder r-3-2 transition"></figure>
      				</div>
      		</div>
      	</div>

      	<div class="controls">
      		<button class="move-btn left">&larr;</button>
      		<button class="move-btn right">&rarr;</button>
      	</div>darken(#d63031, 40%);
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
}

/*Carousel Gallery*/
.carousel-gallery{
	margin: 50px 0;
  padding: 0 30px;
	.swiper-slide{
		a{
			display: block;
			width: 100%;
			height: 200px;
			border-radius: 4px;
			overflow: hidden;
			position: relative;

			-webkit-box-shadow: 3px 2px 20px 0px rgba(0,0,0, .2);
      -moz-box-shadow: 3px 2px 20px 0px rgba(0,0,0, .2);
      box-shadow: 3px 2px 20px 0px rgba(0,0,0, .2);

			&:hover{
				.image{
					.overlay{opacity: 1}
				}
			}

			.image{
				width: 100%;
				height: 100%;
				background-size: cover;
				background-position: center center;
				.overlay{
					width: 100%;
					height: 100%;
					background-color: rgba(20,20,20, .8);
					text-align: center;
					opacity: 0;

					-webkit-transition: all .2s linear;
          -o-transition: all .2s linear;
          transition: all .2s linear;

					em{
						color: #fff;
						font-size: 26px;
						position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            display: inline-block;
					}
				}
			}
		}
	}
	.swiper-pagination{
		position: relative;
		bottom: auto;
		text-align: center;
		margin-top: 25px;

		.swiper-pagination-bullet{
			-webkit-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear;

			&:hover{
				opacity: .7;
			}

			&.swiper-pagination-bullet-active{
				background-color: #d63031;
				transform: scale(1.1, 1.1)
			}
		}
	}
}
/*# Carousel Gallery*/

.plugins{
  text-align: center;

  h3{
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: Arial;
    text-transform: uppercase;
    color: #111;
  }

  a{
    display: inline-block;
    font-family: Arial;
    color: #777;
    font-size: 14px;
    margin: 10px;
    transition: all .2s linear;

    &:hover{color: #d63031}
  }
}
