*{color:black;}

.login{
	padding: 40px;
	background-color: #000000AA;
}

.button_lr{
	margin: 10px;
}

.reset_password a{
	margin: 5px;
}
 .centered_login{
	 width: 60%;
	 min-width: 300px;
 }

 #error_messages {
	 margin-top: 20px;
	 margin-bottom: 20px;
 }
