<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/general.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/profiles/profile_s.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/home_c/service.css">
    <title>Erato</title>
    <meta charset="utf-8">
</head>
<body>
{% include '../general/nav.html' %}
<div class="container">
    <div class="profile">
        <div class="sw_p_panel">
            <div class="main_content">
                <div class="ui card">
                    <div class="image">
                        <img src="{{sw.picture_path}}">
                    </div>
                    <div class="content">
                        <a class="header">{{sw.user.username}}</a>
                        <div class="description">
                            {{sw.about}}
                        </div>
                    </div>
                    <!--
                    <div class="extra content">
                        <a>
                            <i class="user icon"></i>
                            22 Friends
                        </a>
                    </div>-->
                </div>

            </div>
            <div class="additional_content" style="height: 100%;">
                <div class="ui card" style="width: 100%; height: 100%">
                    <div class="content">
                        <!--
                        <div class="header">Cute Dog</div>
                        <div class="meta">2 days ago</div>
                        -->
                        <div class="description">
                            <p>Birth date: {{sw.birthDate}}</p>
                            <p>Height: {{sw.height}}</p>
                            <p>Weight: {{sw.weight}}</p>
                            <p>Eyes color: </p>
                            <p>... : </p>
                            <p>About: {{sw.about}}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <h4 class="ui horizontal divider header">
        <i class="tag icon"></i>
        Services
    </h4>
    <div class="services">
        {% for service in services %}
        <div class="service">
            <div class="service_panel blur_box">
                <div class="service_image">
                    <img class="ui small circular image" src="https://i.imgur.com/mup84DH.jpg" alt="Profile image">
                </div>
                <div class="service_content">
                    <div class="service_name">
                        {{service.name}}
                    </div>
                    <div class="service_description">
                        {{service.description}}
                    </div>
                    <div class="service_price">
                        price: <b>{{service.price}}</b>$
                    </div>
                    <div class="extra">
                        <div class="ui label">Blowjob</div>
                        <div class="ui label">Stripteasse</div>
                        <div class="ui label">Events</div>
                    </div>
                </div>
                <button class="ui primary button right red fluid" id="want_it" onclick="window.location.replace('/date_form/{{service.id}}');">
                    I want it
                    <i class="right chevron icon"></i>
                </button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% include '../general/footer.html' %}
</body>
