.service *{
	display: inline-block;
}

.service_hover .service_panel:hover{
	background: #2f2f2f;
}

.service_panel{
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 0px;
	margin-bottom: 15px;
	background-color: #111;
	border-radius: 6px;
	vertical-align:top;
	width: 100%;
}

.service_content{
	width: 90%;
	display: inline-block;
	padding-left: 20px;
	margin: 10px;
}

.service_content .service_name{
	word-wrap: break-word;      /* IE 5.5-7 */
	white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
	white-space: pre-wrap;
}


.service_content .service_description{
	word-wrap: break-word;      /* IE 5.5-7 */
	white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
	white-space: pre-wrap;
}


.service_content .service_price{
	word-wrap: break-word;      /* IE 5.5-7 */
	white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
	white-space: pre-wrap;
}

.service_buttons{
	width: 5%;
	vertical-align: top;
	position: relative;
	right: 0;
	top: 0;
	display: none;

}

.service_panel:hover .service_buttons{
	position: relative;
	display: inline-block;
}

.service_buttons .button{
	display: block;
	margin-top: 3px;
}

.service_name{
	display: block;
	margin: 5px;
	font-size: 20px;
}

.service_description{
	margin: 5px;
	display: block;
}

.service_price{
	margin: 5px;
	display: block;
}

.extra{
	margin: 5px;
	display: block;
	margin: 20px;
}
