.services {
	z-index: 0;
	width: 60%;
	display: relative;
	vertical-align: top;
}

.services_filter{
	padding: 15px;
	right: 0px;
	top: 150px;
	background: yellow;
	width: 18%;
	height: 100%;
	position: fixed;
}
