.service *{
	display: inline-block;
}

service_image{
	vertical-align:top;
	width: 20%;
	display: inline-block;
}

.service_panel{
	display: block;
	padding: 40px 40px;
	margin-bottom: 20px;
	margin-right: 10px;
	background-color: white;
	border-radius: 10px;
	vertical-align:top;
	width: 100%;
	border-radius: 10px;
}

.service_panel_hover:hover{
	background: #f9f9f9;
}

.interested_people{
	height: auto;
	max-width: 25%;
	margin-top: 5px;
	vertical-align: top;
}

.interested_people *{
	margin: 5px;
}

.service_content{
	vertical-align:top;
	width: 70%;
	display: inline-block;
	padding-left: 20px;
	margin: 10px;
}

.service_buttons{
	position: absolute;
	width: 10%;
	display: inline-block;
	vertical-align: top;
	right: 0;
	padding-left: 0px;
	margin: 10px;
}

.service_buttons .button{
	margin: 3px;
}

.service_name{
	display: block;
	margin: 5px;
	font-size: 20px;
}

.service_description{
	margin: 5px;
	display: block;
}

.service_price{
	margin: 5px;
	display: block;
}

.extra{
	display: block;
	margin: 10px 20px 10px 0px;
}
