service_image{
	vertical-align:top;
	width: 20%;
	display: inline-block;
}

.service_content{
	vertical-align:top;
	width: 70%;
	display: inline-block;
	padding-left: 20px;
	margin: 10px;
}

.service_buttons{
	position: absolute;
	width: 10%;
	display: inline-block;
	vertical-align: top;
	right: 0;
	padding-left: 0px;
	margin: 10px;
}

.service_buttons .button{
	margin: 3px;
}

.service_name{
	display: block;
	margin: 5px;
	font-size: 20px;
}

.service_description{
	margin: 5px;
	display: block;
}

.service_price{
	margin: 5px;
	display: block;
}

.service_hover:hover{
	background: #fafafa;
}
