<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/general.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/main/main.css">
    <title>Erato</title>
    <meta charset="utf-8">
</head>
<body>
{% include '../general/nav.html' %}
  <div class="container">
    <div class="ui placeholder segment">
      <div class="ui two column very relaxed stackable grid">
      <div class="column">
      <button class="ui button teal" onclick="window.location.replace('{{BASEURL}}/s/login/');">Sex worker</button>
      </div>
      <div class="column">
      <button class="ui button red" onclick="window.location.replace('{{BASEURL}}/c/login/');">Client</button>
      </div>
      </div>
      <div class="ui vertical divider">
      Or
      </div>
    </div>
  </div>
    {% include '../general/footer.html' %}
</body>
</html>
