<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/general.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/forms/date_request.css">

    <title>Erato</title>
    <meta charset="utf-8">

    <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
      <meta charset="utf-8">
      <title>JS Bin</title>

        <script>
        var calendarOpts = {
            type: 'date',
            formatter: {
                date: function (date, settings) {
                    if (!date) return '';
                    var day = date.getDate() + '';
                    if (day.length < 2) {
                        day = '0' + day;
                    }
                    var month = (date.getMonth() + 1) + '';
                    if (month.length < 2) {
                        month = '0' + month;
                    }
                    var year = date.getFullYear();

                    var hour = date.getHours();
                    var minute = date.getMinutes();
                    var seconds = date.getSeconds();
                    return year + '-' + month + '-' + day;
                }
            }
        };
        $( function() {
             $('#start_date').calendar(calendarOpts);
        } );
        $( function() {
            $('#end_date').calendar(calendarOpts);
        } );
        $('#start_date_hms')
            .calendar({
                type: 'time'
            })
        ;
        $('#end_date_hms')
            .calendar({
                type: 'time',
                ampm: false
            })
        ;
        </script>


</head>
<body>

{% include '../general/nav.html' %}
  <div class="container">
    <div class=" form_panel blur_box">
        <div class="ui middle aligned center aligned grid">
        <div class="panel">
            <form class="ui form" action="{{BASEURL}}/generate_date/{{service.id}}" method="post">

            {% csrf_token %}

            <div class="ui">
                <div class="ui two column grid">
                    <div class="row">
                        <div class="column">
                            <div class="ui calendar" id="start_date">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    {{ form.start_time }}
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui calendar" id="start_date_hms">
                                <div class="ui input left icon">
                                    <i class="time icon"></i>
                                    {{form.start_time_hms}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui calendar" id="end_date">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                {{ form.end_time }}
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui calendar" id="end_date_hms">
                            <div class="ui input left icon">
                                <i class="time icon"></i>
                                {{ form.end_time_hms}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

                {{ form.lng }}
                {{ form.lat }}

            <div id="map_section">

                <div id="googleMap" style="width:100%;height:400px;"></div>
                <p id="text">

                </p>
                <script>

                function myMap()
                {
                    var mapProp = {
                        center:new google.maps.LatLng(4.6,-74.08333),
                        zoom:10,
                        mapTypeControl: true,
                        mapTypeControlOptions: {
                          mapTypeIds: [
                            google.maps.MapTypeId.ROADMAP,
                            google.maps.MapTypeId.SATELLITE
                          ]
                        }
                    };

                    var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

                    var marker;

                    function placeMarker(location)
                    {
                        if ( marker ) {
                            marker.setPosition(location);
                        } else {
                            marker = new google.maps.Marker({
                                position: location,
                                map: map
                            });
                        }
                        document.getElementById("id_lng").value = marker.getPosition().lng();
                        document.getElementById("id_lat").value = marker.getPosition().lat();
                    }

                    google.maps.event.addListener(map, 'click', function(event) {
                      placeMarker(event.latLng);
                    });

                    map.setMapTypeId(google.maps.MapTypeId.ROADMAP)


                }


                </script>

                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyNHtXfO4MHI3brArw5Ni4WGVgUs1xA8o&callback=myMap"></script>

            </div>
            <button class="ui button green" type="submit" name="button">Add date</button>



            </form>
        </div>
        </div>
        </div>
      </div>
{% include '../general/footer.html' %}
    </body>
</html>
