{% if not all_dates %}
<div class="ui message">
  <div class="header">
    No has terminado ninguna cita.
  </div>
  <p>Las citas terminadas o rechazadas aparecerán aquí.</p>
</div>
{% endif %}

{% for date in all_dates %}
<div class="ui card" style="width: 100%">
<div class="content">
<div class="header">
  Cita con {{date.client.user.username}}</div>
</div>
<div class="content">
<h4 class="ui sub header">
  Inicio: {{date.start_time}}
  <br>
  Fin: {{date.end_time}}
  <br>
  Precio: {{date.price}}
</h4>
<div class="ui small feed">
<div class="event">
</div>
</div>
</div>
<div class="extra content">
{% ifequal date.state 'ended'  %}
<div class="ui massive star rating" id="rate-{{date.id}}" onclick="set_starts_id({{date.id}});">
{% endifequal %}
{% ifequal date.state 'accepted'  %}
Esta cita ha sido aceptada, cuando el cliente haya pagado, la cita aparecerá en la primera pestaña.
{% endifequal %}
{% ifequal date.state 'rejected'  %}
Has rechazado esta cita.
{% endifequal %}
{% ifequal date.state 'rated'  %}
Ya has calificado esta cita.
{% endifequal %}


  </div>
</div>
</div>
{% endfor %}
