<!DOCTYPE html>

<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
  <link rel="stylesheet" type="text/css" href="/assets/styles/general.css">
  <link rel="stylesheet" type="text/css" href="/assets/styles/dates/dates.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.8/semantic.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.8/semantic.min.js"></script>

  <meta charset="UTF-8">
  <title>ERATO</title>
  <script src="/assets/scripts/dates/date_state.js"></script>
  <script src="/assets/scripts/dates/pagination.js"></script>
  <script src="/assets/scripts/dates/dates.js"></script>
</head>

<body id="body" onload="get_date_list(0)">
  {% include '../general/nav.html' %}
  {% include '../general/subbar.html' %}
  <div class="menu_services" >
  	{% include '../general/menu_s.html' %}
    <script>
    document.getElementById("item_md").setAttribute("class", "active item");
    </script>
  </div>

<div class="container">
<div class="main_container">

  <h4 class="ui horizontal divider header">
  <i class="clock outline icon"></i>
  Current dates
  </h4>

  {% if not current_dates%}
  <div class="ui visible message">
  <p>You are not in a date.</p>
  </div>
  {% endif %}
  <!-- Current date or timed out if exists -->
  <div class="margined medium">
    {% for current_date in current_dates %}
    <div class="ui card" style="width: 100%">
      <div class="content">
        <div class="header">A date with {{current_date.client.user.username}}</div>
      </div>
      <div class="content">
        <h4 class="ui sub header">
          Username: {{current_date.client.user.username}}
          <br>
          Name: {{current_date.client.full_name}}
          <br>
          Start time: {{current_date.start_time}}
          <br>
          End time: {{current_date.end_time}}
          <br>
          Price: {{current_date.price}}
          <br>
          Location:
          <br>

            <p>
                <img border="0" src="
            https://maps.googleapis.com/maps/api/staticmap?center={{current_date.lat}},{{current_date.lng}}&zoom=11&scale=1&size=600x300&maptype=roadmap&key=AIzaSyBDWB8NfUM0LVS6k0nTT2-bdNMDu3evjiQ&format=png&visual_refresh=true&markers=size:small%7Ccolor:0xff0000%7Clabel:%7C{{current_date.lat}},{{current_date.lng}}

                "/>
            </p>
          <br>
        </h4>
        <div class="ui small feed">
          <div class="event">
            <div class="content">
              <div class="summary">
                Currently you're in a date. Click the button below for confirm ending.
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="ui button fluid" onclick="end_date({{current_date.id}}, '{{BASEURL}}')">Confirm date ending</button>
    </div>

    {% endfor %}
  </div>

      <div class="ui attached tabular menu">
        <a class="item" data-tab="payed_dates">Pending dates</a>
        <a class="item" data-tab="requested_dates">Requests</a>
        <a class="item" data-tab="more_dates">More dates</a>
      </div>

      <!-- Dates in PAYED state. -->
      <div class="ui bottom attached tab" data-tab="payed_dates">
        <div class="margined medium">
          <div>
            {% for date in payed_dates %}
            <div class="ui card hoverable" id="muestre-#mdata-payed-{{date.client.user_id}}-{{date.id}}" onclick="show_modal_data({{date.id}},'{{BASEURL}}')" style="width: 100%">
              <div class="content">
                <div class="header">A date with {{date.client.user.username}}</div>
              </div>
              <div class="content">
                <h4 class="ui sub header">
                  Start time: {{date.start_time}}
                  <br>
                  End time: {{date.end_time}}
                  <br>
                  Price: {{date.price}}
                </h4>
                <div class="ui small feed">
                  <div class="event">
                    <div class=" extra content">
                      {{date.client.user.username}} has payed the date.
                    </div>
                  </div>
                </div>
              </div>
            </div>

<!-- Modal code -->
            <div class="ui modal {{date.client.user_username}}" id="mdata-payed-{{date.client.user_id}}-{{date.id}}" >
                <i class="close icon"></i>
                <div class="header">
                    Date information
                </div>
                <div class="content">
                    <div class="ui grid">
                      <div class="six wide column">
                        <div class="image">
                          <img src={{date.client.profile_picture}} height="400px;">
                        </div>
                      </div>
                      <div class="ten wide column">
                        <div style="width:100%; height:100%;">
                          <div class="content">
                            <h4>
                              {{date.client.user.username}}
                            </h4>
                          </div>
                          <div class="content">
                            {{date.client.about}}
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                    <div class="content">
                      <div class="ui grid">
                        <div class="ten wide column">
                          <img border="0" style="width:100%; height:100%;" src="
                          https://maps.googleapis.com/maps/api/staticmap?center={{date.lat}},{{date.lng}}&zoom=11&scale=1&size=600x300&maptype=roadmap&key=AIzaSyBDWB8NfUM0LVS6k0nTT2-bdNMDu3evjiQ&format=png&visual_refresh=true&markers=size:small%7Ccolor:0xff0000%7Clabel:%7C{{date.lat}},{{date.lng}}"/>
                        </div>
                        <div class="six wide column" style="width:100%; height:100%; display: block; vertical-align:top;">
                          <div style=" padding:"20px;" width:100%; height:100%; display: block; vertical-align:top;">
                            <div class="content">
                              Start time: {{date.start_time}}
                              <br>
                              End time: {{date.end_time}}
                              <br>
                              Price: {{date.price}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

            <script>
                function show() {
                    $('#mdata-payed-{{date.client.user_id}}-{{date.id}}').modal('show');
                }
                document.getElementById("muestre-#mdata-payed-{{date.client.user_id}}-{{date.id}}").addEventListener("click", show);
            </script>
<!-- End modal code -->

            {% endfor %}
          </div>


            <div class="centered buttons">
              <div class="ui buttons">
                <button class="ui button" onclick="back_payed_dates()">
                  <i class="angle left icon"></i>
                </button>
                <button id="current_index_payed_dates" class="ui button">1</button>
                <button class="ui button" onclick="next_payed_dates()">
                  <i class="angle right icon"></i>
                </button>
              </div>
            </div>
        </div>
      </div>

<!-- Dates in requested state -->
<!-- Date.REQUEST -->
      <div class="ui bottom attached tab" data-tab="requested_dates">
        <div class="margined medium">

          {% for date in requested_dates %}
            <div class="ui card hoverable" id="muestre-#mdata-{{date.client.user_id}}-{{date.id}}" onclick="show_modal_data({{date.id}},'{{BASEURL}}')" style="width: 100%">
                <div class="content">
                    <div class="header">A date with {{date.client.user.username}}</div>
                </div>
                <div class="content">
                    <h4 class="ui sub header">
                      Start time: {{date.start_time}}
                      <br>
                      End time: {{date.end_time}}
                      <br>
                      Price: {{date.price}}
                    </h4>
                    <div class="ui small feed">
                        <div class="event">
                        </div>
                    </div>
                </div>
            </div>

<!-- Modal code -->
            <div class="ui modal {{date.client.user_username}}" id="mdata-{{date.client.user_id}}-{{date.id}}" >
                <i class="close icon"></i>
                <div class="header">
                    Date information
                </div>
                <div class="image content">
                    <div class="ui medium image">
                        <img src={{date.client.profile_picture}}>
                    </div>
                    <div class="description">
                        <div class="ui header"> Client's information </div>
                            <h4 class="ui sub header">
                                Username : {{date.client.user.username}}
                                <br>
                                Name : {{date.client.full_name}}
                                <br>
                                Description : {{date.client.about}}
                                <br>
                                Start time: {{date.start_time}}
                                <br>
                                End time: {{date.end_time}}
                                <br>
                                Price: {{date.price}}
                                <br>
                                location:
                                <br>

                                <p>
                                    <img border="0" src="
                                https://maps.googleapis.com/maps/api/staticmap?center={{date.lat}},{{date.lng}}&zoom=11&scale=1&size=600x300&maptype=roadmap&key=AIzaSyBDWB8NfUM0LVS6k0nTT2-bdNMDu3evjiQ&format=png&visual_refresh=true&markers=size:small%7Ccolor:0xff0000%7Clabel:%7C{{date.lat}},{{date.lng}}

                                    "/>
                                </p>
                            </h4>

                        </div>
                    </div>
                    <div class="ui buttons">
                        <button id="accept-{{date.id}}" class="ui left attached button green" style="width: 45%;" onclick="accept({{date.id}},'{{BASEURL}}')" > Accept</button>
                        <button id="reject-{{date.id}}" class="right attached ui button red" style="width: 45%;" onclick="reject({{date.id}},'{{BASEURL}}')" > Reject </button>
                    </div>
                </div>

            <script>
                function show() {
                    $('#mdata-{{date.client.user_id}}-{{date.id}}').modal('show');
                }
                document.getElementById("muestre-#mdata-{{date.client.user_id}}-{{date.id}}").addEventListener("click", show);
            </script>
<!-- End modal code -->

        {% endfor %}
            <div class="centered buttons">
              <div class="ui buttons">
                <button class="ui button" onclick="back_requested_dates()">
                  <i class="angle left icon"></i>
                </button>
                <button id="current_index_requested_dates" class="ui button">1</button>
                <button class="ui button" onclick="next_requested_dates()">
                  <i class="angle right icon"></i>
                </button>
              </div>
            </div>
        </div>
      </div>

      <!-- Dates in RATED, ACCEPTED and ENDED state -->
      <!-- ACCEPTED dates show state, ENDED can be rated and RATED show RATE state. -->
      <div class="ui bottom attached tab" data-tab="more_dates">
      <div class="margined medium">
        <div id="date_list_more_dates">
        </div>
      </div>

          <div class="centered buttons">
            <div class="ui buttons">
              <button class="ui button" onclick="back_more_dates('{{BASEURL}}')">
                <i class="angle left icon"></i>
              </button>
              <button id="current_index_more_dates" class="ui button">1</button>
              <button class="ui button" onclick="next_more_dates('{{BASEURL}}')">
                <i class="angle right icon"></i>
              </button>
            </div>
          </div>

      </div>

    </div>

</div>
{% include '../general/footer.html' %}


<script type="text/javascript">

$('.hoverable').dimmer(
  {
    opacity: 0.05,
    on: 'hover',
  }
);


var date_id = 0;

function rate(baseurl, rate){
  $.ajax({url: baseurl+"/rate_date/"+date_id+"/"+rate,
  success: function(result){
      if(result.state=="failed"){
          return;
      }
      $('body').toast({
      class: 'success',
      message: "Your date was rated"});
  }});
}

function set_starts_id(id){
  date_id = id;
}

get_date_list_more_dates(0, '{{BASEURL}}');
</script>
</body>
</html>
