<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/general.css">
    <meta charset="UTF-8">
    <title>ERATO</title>
</head>
<body>
{% include '../general/nav.html' %}
{% include '../general/subbar.html' %}
<div class="container">
    {% include '../general/menu.html' %}
    <script>
        document.getElementById("item_md").setAttribute("class", "active item");
    </script>
    <div class="main_container">
    <h4 class="ui horizontal divider header">
    <i class="clock outline icon"></i>
    Current dates
    </h4>
    {% for date in current_dates %}
        <div class="ui card" style="width: 100%">
        <div class="content">
        <div class="header">A date with {{date.client.user.username}}</div>
        </div>
        <div class="content">
        <h4 class="ui sub header">
            Start time: {{date.start_time}}
            <br>
            End time: {{date.end_time}}
        </h4>
        <div class="ui small feed">
        <div class="event">
        <div class="content">
          <div class="summary">
             Currently you're in a date. Click the button below for confirm ending.
          </div>
        </div>
        </div>
        </div>
        </div>
        <button class="ui button fluid" onclick="window.location.replace('{{BASEURL}}/end_date/{{date.id}}')">Confirm date ending</button>

        </div>
    {% endfor %}
    <h4 class="ui horizontal divider header">
    <i class="clock outline icon"></i>
    Pending dates
    </h4>
    {% for date in requested_dates %}
        <div class="ui card" style="width: 100%">
        <div class="content">
        <div class="header">A date with {{date.client.user.username}}</div>
        </div>
        <div class="content">
        <h4 class="ui sub header">
            Start time: {{date.start_time}}
            <br>
            End time: {{date.end_time}}
        </h4>
        <div class="ui small feed">
        <div class="event">
        <div class="content">
          <div class="summary">
              {{date.client.user.username}} Has requested a date. 
          </div>
        </div>
        </div>
        </div>
        </div>
        <div class="ui buttons">
        <button class="ui left attached button green" style="width: 45%;" onclick="window.location.replace('{{BASEURL}}/accept_date/{{date.id}}')" > Accept</button>
        <button class="right attached ui button red" style="width: 45%;" onclick="window.location.replace('{{BASEURL}}/reject_date/{{date.id}}')" > Reject </button>
        </div>
        </div>
    {% endfor %}
    <h4 class="ui horizontal divider header">
    <i class="calendar alternate outline icon"></i>
    All dates
    </h4>
    {% for date in dates %}
        <div class="ui card" style="width: 100%">
        <div class="content">
        <div class="header">A date with {{date.client.user.username}}</div>
        </div>
        <div class="content">
        <h4 class="ui sub header">
            Start time: {{date.start_time}}
            <br>
            End time: {{date.end_time}}
        </h4>
        <div class="ui small feed">
        <div class="event">
        </div>
        </div>
        </div>
        </div>
    {% endfor %}
    </div>
</div>
{% include '../general/footer.html' %}
</body>
</html>