<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/general.css">
    <meta charset="UTF-8">
    <title>ERATO</title>
</head>
<body>
{% include '../general/nav.html' %}
{% include '../general/menu_s.html' %}
<div class="container">
    <script>
        document.getElementById("item_mh").setAttribute("class", "active item");
    </script>
    <div class="main_container">
        History
    </div>
</div>
{% include '../general/footer.html' %}
</body>
</html>
