<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/general.css">

    <script src="/assets/scripts/upload_files.js"></script>

    <meta charset="UTF-8">
    <title>ERATO</title>
</head>
<body>
{% include '../general/nav.html' %}
{% include '../general/subbar.html' %}
{% include '../general/menu_s.html' %}
<script>
document.getElementById("item_mc").setAttribute("class", "active item");
</script>
<div class="container">
    <div class="main_container">
      <table class="ui fixed table">
        <thead>
          <tr><th>Date</th>
          <th>Status</th>
        </tr></thead>
        <tbody>
          <tr>
            <td>{{sw.mc.last_date}}</td>
            <td>{{sw.mc.state}}</td>
            <!-- <td>{{client.mc.last_date}}</td> -->
            <!-- <td>{{client.mc.state}}</td> -->


          </tr>
        </tbody>
      </table>

      <div class="ui icon message">
        <i class="calendar alternate outline icon"></i>
      <div class="content">
      <div class="header">
      Tus pruebas de ETS se vencerán en {{dt}}
      </div>
      <ul class="list">
      <li>
        Recuerda actualizar tus pruebas cada cinco meses, o tus servicios no serán mostrados en la página.
      </li>
      <li>
        Las pruebas de ETS están disponibles
        <a href="https://profamilia.org.co/servicios/its/consulta-medica/">en tu país.</a>
      </li>
      </ul>

      </div>
      </div>

      <div class="ui placeholder segment">
        <form action="{{BASEURL}}/s/update_mc/" method=POST enctype="multipart/form-data">
          {% csrf_token %}
      <div style="margin-top:30px;" class="ui icon header">
      <i class="pdf file outline icon"></i>
      Adjunta los resultados de tus pruebas.
      </div>
      <div id='succesfully_uploaded_file' class="ui positive message" style="display:none;">
        <div class="header">
          Your file is attached.
        </div>
        <p>Check out our requirements for MCs here.</p>
      </div>
      <div style="width:100%;" class="ui button grey">
        <label for="id_mc">
          Adjuntar
        </label>
          {{ form_mc.mc }}
      </div>
      <button id="save_button" style="width:100%; margin-top:15px; display:none;" class="ui fluid green button">
        Save
      </button>
    </form>
      </div>


    </div>
</div>
{% include '../general/footer.html' %}
</body>
</html>
