<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
<link rel="stylesheet" type="text/css" href="/assets/styles/general.css">
<link rel="stylesheet" type="text/css" href="/assets/styles/profiles/profile_s.css">
<link rel="stylesheet" type="text/css" href="/assets/styles/sw/editable_profile.css">
<link rel="stylesheet" type="text/css" href="/assets/styles/utils/gallery.css">

<!-- semantic -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.8/semantic.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.8/semantic.min.js"></script>

<!-- Gallery -->
<script src="/assets/scripts/sw/edit_profile.js" charset="utf-8"></script>
<script src="/assets/scripts/utils/gallery.js" charset="utf-8"></script>
<script src="/assets/scripts/upload_files.js"></script>

<title>Erato</title>
<meta charset="utf-8">
</head>
<body>
{% include '../general/nav.html' %}
{% include '../general/subbar.html' %}
<div class="menu_services" >
	{% include '../general/menu_s.html' %}
  <script>
  document.getElementById("item_ma").setAttribute("class", "active item");
</script>
</div>


<div class="container">
    <div class="main_container">
      <!-- form -->
      <div class="ui center aligned header">
        <object class="ui medium circular image" data="{{BASEURL}}/assets/images/utils/vector_profile.jpg">
          <img id="output" alt="profile" class="ui medium circular image" src="{{BASEURL}}/assets/images/pro_pics/{{sw.picture_path}}">
        </object>
        <div class="margined small">
          <form class="" action="{{BASEURL}}/s/upload_swpp" method="post" enctype="multipart/form-data">
	             {% csrf_token %}
               <div class="margined small showable">
                 <div class="ui fluid button yellow">
                   <label for="id_file">
                     Adjuntar</label>
                     {{ form_ul.file }}
                   </div>
               </div>
              <div class="margined small showable">
                <button class="ui fluid button green" type="submit" name="button">Save</button>
              </div>
          </form>
        </div>
        <h2>
        <div class="sw_p_panel">
          {{sw.user.username}}
        </div>
      </h2>
      </div>

<!-- Stolen from https://codepen.io/SixStringsCoder/pen/Vwweyjv -->
<!-- Container for the image gallery -->
<div class="main_container_gallery">

  <!-- Full-width images with number text -->
  <div class="mySlides show">
    <div class="numbertext">1 / 6</div>
      <img src="https://www.w3schools.com/howto/img_woods_wide.jpg">
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 6</div>
      <img src="https://www.w3schools.com/howto/img_5terre_wide.jpg">
  </div>

  <div class="mySlides">
    <div class="numbertext">3 / 6</div>
      <img src="https://www.w3schools.com/howto/img_mountains_wide.jpg">
  </div>

  <div class="mySlides">
    <div class="numbertext">4 / 6</div>
      <img src="https://www.w3schools.com/howto/img_lights_wide.jpg">
  </div>

  <div class="mySlides">
    <div class="numbertext">5 / 6</div>
      <img src="https://www.w3schools.com/howto/img_nature_wide.jpg">
  </div>

  <div class="mySlides">
    <div class="numbertext">6 / 6</div>
      <img src="https://www.w3schools.com/howto/img_snow_wide.jpg">
  </div>

<!-- Caption and Arrow Advancers -->
  <section class="caption-container">
    <!-- Previous button -->
    <a class="prev">&#10094;</a>
    <!-- Image text -->
    <p id="caption"></p>
    <!-- Next button -->
    <a class="next">&#10095;</a>
  </section>

  <!-- Thumbnail images -->
  <section id="thumbnail-section" class="row">
    <div class="thumbnail">
      <img class="demo cursor active" src="https://www.w3schools.com/howto/img_woods.jpg" alt="">
    </div>
    <div class="thumbnail">
      <img class="demo cursor" src="https://www.w3schools.com/howto/img_5terre.jpg" alt="">
    </div>
    <div class="thumbnail">
      <img class="demo cursor" src="https://www.w3schools.com/howto/img_mountains.jpg" alt="">
    </div>
    <div class="thumbnail">
      <img class="demo cursor" src="https://www.w3schools.com/howto/img_lights.jpg" alt="">
    </div>
    <div class="thumbnail">
      <img class="demo cursor" src="https://www.w3schools.com/howto/img_nature.jpg" alt="">
    </div>
    <div class="thumbnail">
      <img class="demo cursor" src="https://www.w3schools.com/howto/img_snow.jpg" alt="">
    </div>
  </section>
</div>

<form class="" action="{{BASEURL}}/s/edit_profile" method=POST>
	{% csrf_token %}
<div class="margined medium">
  <div class="ui inverted button green showable">
    Carga un nuevo álbum
  </div>
</div>
<div class="margined huge">

    <div class="profile">
      <div class="ui center aligned header">

      </div>
      <div class="ui center aligned icon header">
        <div class="b_spaced" style="margin-bottom: 100px; font-weight: normal;">
          <div class="hidable">
            {{sw.about}}
          </div>
					<div class="showable">
						<div class="ui fluid input">
							{{form.about}}

						</div>
					</div>
        </div>
      </div>
      <div class="more_info">
        <div class="ui grid">
<div class="eight wide column">
            <i class="user outline icon"></i>
            Nombre
          </div>
          <div class="eight wide column">
            <div class="item">
              {{sw.full_name}}
            </div>
          </div>

          <div class="eight wide column">
            <i class="birthday cake icon"></i>
            Fecha de nacimiento
          </div>
          <div class="eight wide column">
            <div class="item">
              {{sw.birth_date}}
            </div>
          </div>

<h4 class="ui horizontal divider header">
  Apariencia
</h4>
          <div class="eight wide column">
            <i class="venus mars icon"></i>
            Género
          </div>
          <div class="eight wide column">
            <div class="item hidable">
              {{sw.gender}}
            </div>
            <div class="showable">
              <div class="ui fluid input">
                {{form.gender}}
              </div>
            </div>
          </div>


          <div class="eight wide column">
            <i class="eye icon"></i>
            Color de ojos
          </div>
          <div class="eight wide column">
            <div class="item hidable">
              {{ap.eyes}}
            </div>
            <div class="showable">
              <div class="ui fluid input">
                {{form_ap.eyes}}
              </div>

            </div>
          </div>

          <div class="eight wide column">
            <i class="weight icon"></i>
            Peso
          </div>
          <div class="eight wide column">
            <div class="item hidable">
              {{ap.weight}}
            </div>
            <div class="showable">
              <div class="ui fluid input">
                {{form_ap.weight}}
              </div>

            </div>
          </div>

          <div class="eight wide column">
            <i class="building outline icon"></i>
            Estatura
          </div>
          <div class="eight wide column">
            <div class="item hidable">
              {{ap.height}}
            </div>
            <div class="showable">
              <div class="ui fluid input">
                {{form_ap.height}}
              </div>
            </div>
          </div>

          <div class="eight wide column">
            <i class="paint brush icon"></i>
            Color de piel
          </div>
          <div class="eight wide column">
            <div class="item hidable">
							<i class="circle icon" style="color: {{ap.skin}}"></i>
							</div>
            <div class="showable">
              <div class="ui fluid input">

                {{form_ap.skin}}
              </div>
            </div>
          </div>

          <div class="eight wide column">
            <i class="eye dropper icon"></i>
            Color de cabello
          </div>
          <div class="eight wide column">
            <div class="item hidable">
              {{ap.hair_color}}
            </div>
            <div class="showable">
              <div class="ui fluid input">
                {{form_ap.hair_color}}
              </div>
            </div>
          </div>


          <div class="eight wide column">
            <i class="eye icon"></i>
            Estilo
          </div>
          <div class="eight wide column">
            <div class="item hidable">
              {{ap.hair_style}}
            </div>
            <div class="showable">
              <div class="ui fluid input">
                {{form_ap.hair_style}}
              </div>
            </div>
          </div>

        </div>


	<h4 class="ui horizontal divider header">
  Seguridad
</h4>

<div class="margined topbottommedium">

	<div class="profile_form">
		<div class="hidable">
			<div class="ui grid">
				<div class="eight wide column">
					Email de seguridad
				</div>
				<div class="eight wide column">
					{{sw.third_email}}
				</div>
			</div>
		</div>
		<div class="showable">
			<div class="ui input fluid">
				{{ form.third_email }}
			</div>
		</div>
	</div>
	<div class="ui negative message" {% if form.third_email.errors %} style="display: block" {% else %} style="display: none" {% endif %}>
		<div class="header">
			Please fill the third email correctly.
		</div>
		<p>{{ form.third_email.errors}}
		</p>
	</div>
</div>


      </div>
    </div>
    <div class="profile_buttons">
      <div class="profile_button">
        <div id="button_edit" class="ui fluid orange button" onclick="show_inputs()">
          Editar perfil
        </div>
      </div>
      <div class="profile_button">
        <button type="submit"
        id="button_save" style="display: none" class="ui inverted fluid green button"
        name="button">
        Guardar
      </button>
    </div>
    <div class="profile_button">
      <div id="button_delete" class="ui fluid red button" onclick="delete_account_pop_up()">
        Borrar cuenta
      </div>
    </div>
  </div>

</div>

</form>
  </div>
</div>
{% include '../general/footer.html' %}

<div class="ui basic modal">
  <div class="ui icon header">
    <i class="delete icon"></i>
    Are you sure you want to delete your account?
  </div>
  <div class="content">
    <p>Some people will miss you!</p>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      No
    </div>
    <div class="ui green ok inverted button" onclick="delete_account({{sw.user_id}})">
      <i class="checkmark icon"></i>
      Yes
	</div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function () {
hide_hidable();
});

document.getElementById("id_third_email").value = '{{sw.third_email}}';
document.getElementById("id_about").value = '{{sw.about}}';
document.getElementById("id_weight").value = '{{ap.weight}}';
document.getElementById("id_height").value = '{{ap.height}}';
$('#id_gender').dropdown('set selected', '{{sw.gender}}');
$('#id_eyes').dropdown('set selected', '{{ap.eyes}}');
$('#id_hair_color').dropdown('set selected', '{{ap.hair_color}}');
$('#id_hair_style').dropdown('set selected', '{{ap.hair_style}}');

function delete_account_pop_up(){
	console.log("Pop up wu");
	$('.ui.basic.modal')
	.modal('show');
}

function delete_account(id){
	location.replace("{{BASEURL}}/s/account_del/{{sw.user_id}}");
}

const thumbImgCont = document.getElementById('thumbnail-section');
const thumbnails = document.getElementsByClassName('thumbnail');
const fullSizeImgs = document.getElementsByClassName('mySlides');
const captionCont = document.querySelector('.caption-container');
const caption = document.getElementById('caption');
/* Acts as an index to retrieve images from 'thumbnails' and 'fullSizeImgs';
used with < and > arrow icons */
let currentImage = 0;


// Removes 'show' classes from large images
// Removes 'active' class from thumbnails
function reset() {
  for (let img of fullSizeImgs) {
    img.classList.remove('show');
  }
  for (let thumbs of thumbnails) {
    thumbs.firstElementChild.classList.remove('active');
  }
}

// Show larger image based on thumbnail index clicked
thumbImgCont.addEventListener('click', (e) => {
  reset();
  // Find index of thumbnail clicked
  const index = [...thumbnails].indexOf(e.target.parentNode);
  // Use that index to show it's corrolating larger IMG
  fullSizeImgs[index].classList.add('show');
  // Set caption using img 'alt' tag
  caption.textContent = e.target.getAttribute('alt');
  // Set global variable for currentImage
  currentImage = index;
  // Alter the thumbnail to show its selected
  hiLiteThumbnail();
})

function hiLiteThumbnail() {
  let thumbnail = thumbnails[currentImage].firstElementChild;
  thumbnail.classList.add('active');
}

// Get Arrow Advancers to work
function goBack(e) {
  reset();
  if (e.target.classList.contains("prev") && currentImage > 0) {
    currentImage -= 1;
    fullSizeImgs[currentImage].classList.add('show');
    caption.textContent = thumbnails[currentImage].firstElementChild.getAttribute('alt');
    hiLiteThumbnail();
  } else if (e.target.classList.contains("prev") && currentImage === 0) {
    currentImage = thumbnails.length-1;
    fullSizeImgs[currentImage].classList.add('show');
    caption.textContent = thumbnails[currentImage].firstElementChild.getAttribute('alt');
    hiLiteThumbnail();
  }
}

function goFwd(e) {
  reset();
  if (e.target.classList.contains("next") && currentImage < thumbnails.length-1) {
    currentImage += 1;
    fullSizeImgs[currentImage].classList.add('show');
    caption.textContent = thumbnails[currentImage].firstElementChild.getAttribute('alt');
    hiLiteThumbnail();
  } else if (e.target.classList.contains("next") && currentImage === thumbnails.length-1) {
    currentImage = 0;
    fullSizeImgs[currentImage].classList.add('show');
    caption.textContent = thumbnails[currentImage].firstElementChild.getAttribute('alt');
    hiLiteThumbnail();
  }
}

// Listen for back and forward arrow clicks
captionCont.addEventListener('click', (e) => {
  // Allows only the Arrow icons to trigger event hanlders
  if (e.target.nodeName !== 'A') return false;
  // Event Handlers
  e.target.classList.contains("next") ? goFwd(e) : goBack(e);
})

</script>

</body>
</html>
